.header {
  display:none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  // height:109px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  z-index: 1000;
  overflow: hidden;
  text-align: center;
  @include media($small_screen) {
    // text-align: left;
  }
  @include media($horz_phone) {
    height:140px;
  }
  @include media($phone) {
    height:98px;
  }
}
.fixed{
  position:fixed!important;
  transition: top 1.5s ease;
  top: 0;
  display:none;
}
.fixed_header{
  position:fixed!important;
  transition: top 1.5s ease;
  top: 0;
}

.fixed_content{
  position:fixed!important;
  transition: top 0.5s ease;
  top: 0;
}
.header {
  font-size: 30px;
  font-weight: normal;
  padding-top:20px;
  padding-bottom:20px;
  img{
    width:20%;
    max-width:300px;
    height:auto;
    display:block;
    margin: 0 auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    @include media($small_screen) {
      width:30%;
      margin-left:1.0em;
      padding-top: 0;
      float:left;
    }
    @include media($mobile) {
      padding-top: 2%;
      
    }
    @include media($horz_phone) {
      margin-left:0em;
      float:none;
      margin: 0 auto;
    }
  }
}



a.signup{
  z-index: 9999;
  position: absolute;
  background: #FFF200;
  text-align: center;
  color: #000;
  text-decoration: none;
  
  right: 5%;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size:0.5em;
  padding: 0em 1.0em;
  margin-top: 2%;
  &:hover{
    background-color: rgba(255, 255, 255, 0.5);
  }
  @include media($small_screen) {
    margin-top: 2%;
    font-size:0.4em;
  }
  @include media($horz_phone) {
    position:relative;
    width:100%;
    display:block;
    right:0%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}




