$small_screen: new-breakpoint(max-width 980px);
$tablet: new-breakpoint(max-width 979px);
$mobile: new-breakpoint(max-width 767px);
$phone: new-breakpoint(max-width 468px);
$horz_phone: new-breakpoint(max-width 569px);
$wide_screen: new-breakpoint(min-width 1001px);

$headerfont: "proxima-nova",sans-serif;
$bodyfont: "adelle-sans",sans-serif;

$primaryFontColor: #878787;
$secondaryFontColor: #404040;
//responsive classes
@include media($wide_screen) {
 	.desktop{
 		display:block!important;
 	}
 	.mobile{
 		display:none!important;
 	}
}
 @include media($tablet) {
 	.desktop{
 		display:block!important;
 	}
 	.mobile{
 		display:none!important;
 	}
 }
 @include media($mobile) {
	.desktop{
		display:none!important;
	}
	.mobile{
		display:block!important;
	}
}
@include media($small_screen) {
	.desktop{
		display:none!important;
	}
	.mobile{
		display:block!important;
	}
}