$small_screen: new-breakpoint(max-width 1000px);
$tablet: new-breakpoint(max-width 979px);
$mobile: new-breakpoint(max-width 767px);
$phone: new-breakpoint(max-width 468px);

$headerfont: "proxima-nova",sans-serif;
$bodyfont: "adelle-sans",sans-serif;