.header-video {
  position: relative;
  overflow: hidden;
}

.video-content-stripe{
  background-color: #999;
}

iframe, video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

iframe {
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
}

.teaser-video {
  width: 100%;
  height: auto; 
}

.header-video--media {
  width: 100%;
  height: auto;
  img{
    width:100%;
    height:auto;
  }
}

.video-trigger {
  z-index: 5;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 60px;
  top: 0;
  z-index: 5;
  left: 50%;
  line-height: 60px;
  margin-left: -100px;
  top: 50%;
  margin-top: -30px;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.video-trigger:hover {
  background: #363636;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2em;
}
